# Spyder project settings
.spyderproject 
.spyproject
spyder_crash.log
**/.DS_Store
**/__pycache*
data/covers80/cqt_feat*
data/covers80/data.init.txt
data/covers80/full.txt
data/covers80/test.txt
data/covers80/train.txt
data/covers80/val.txt
data/covers80/sp_aug.txt
data/covers80/test-only-song-ids.txt
data/covers80/sp_wav/
data/covers80/song*
data/covers80/wav_16k/
data/covers80.*
data/covers80/cqt_feat_new/
data/covers80/alignment.txt
data/covers80_testset/cqt_feat*
data/covers80_testset/*.map
data/covers80_testset/data.init.txt
data/covers80_testset/query.txt
data/covers80_testset/ref.txt
data/covers80_testset/train.txt
data/covers80_testset/full.txt
data/covers80_testset/sp_aug.txt
data/reels50hard_testset/*
data/reels50easy_testset/*
training/covers80/logs/
training/covers80/pt_model/
training/covers80/embed*
training/covers80.*
pretrained_model/
training/covers80/tSNE*
sox.log